---
layout: page
description: "学习、思考、感悟、成长"
---
---
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:140 }}
        </div>
    </a>
    <p class="post-meta">Posted on {{ post.date | date: "%Y-%m-%d" }}</p>
</div>

<hr>
{% endfor %}
---

{% for post in paginator.posts limit:32 %}
<article class="post">
    <div class="date">
        <span class="day">{{ post.date | date:"%d" }}</span>
        <span class="month">{{ post.date | date:"%b" }}</span>
        <span class="year">{{ post.date | date:"%Y" }}</span>
    </div>
     <header>
        <h2><a href="{{post.url}}" title="{{ post.title }}">{{ post.title }}</a></h2>
     </header>
     <div class="con">
        <p>
            {{ post.content  | | split:'<!--more-->' | first | strip_html }}
            <a class="more" href="{{ post.url }}">[继续阅读]</a>
        </p>
     </div>
</article>
<hr>
{% endfor %}

---
<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
---

<section>
<h4>About me</h4>
<div>
 一个Java方案架构师，主要从事hadoop相关工作。<a href="/about.html">更多信息</a> 
<br/>
<br/>
<strong><font color="red"><a href="/atom.xml" target="_blank">订阅本站</a></font></strong>
<br/><br/>
联系博主：javachen.june[a]gmail.com
</div>
</section>



<section>
<h4>Recent Posts</h4>
<ul id="recent_posts">{ % for rpost in site.posts limit: 15 %}
<li class="post">
<a href=""></a>
</li>{ % endfor %}
</ul>
</section>
